.clips-playlists-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.page-title {
    grid-column: span 6;
    align-items: center;
    justify-self: center;
    margin: 0;
    padding: 0;
}


/* clip of the week to the left */

.clip-of-week {
    grid-area: 2;
}

.clip-of-week

.movie-suggestion {
    grid-area: 6;
    grid-column: end;
}

.music {
    grid-area: 3/4;
    grid-column: start;
}

.music li {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.movies {
    grid-area: 3/1;
}

.movies li {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
}