.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .hero-section {
    margin-bottom: 20px !important; /* Adjust as needed */
  }
  
  .main-section {
    display: flex;
    justify-content: space-around;
    max-width: 1200px; /* Adjust as needed */
    width: 100%;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .section {
    flex: 1; /* Take up all available space */
    margin: 0 100px; /* Adjust as needed */
  }
  
  h2 {
    margin: 0; /* Remove default margin for h2 elements */
  }
  
  /* Add additional styling for your video box, galleries, etc. */
  