.clips-playlists-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  margin: 10px 0;
  padding: 0px;
}

.page-title {
  grid-column: span 4;
  align-items: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.clip-of-week {
  grid-area: 2/1;
  text-align: center;
  margin: 20px;
}

button {
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #333;
  text-align: center;
  color: #ccc;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

button:hover {
  background-color: #ccc;
  color: #333;
}

.music {
  grid-area: 4/4;
  text-align: center;
}

.movies {
  grid-area: 4/1;
  text-align: center;
}

.movie-suggestion {
  grid-area: 2/4;
  width: 80%;
  margin-bottom: 115px;
}

.music li,
.movies li {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 10px;
}

/* Mobile Design */
@media only screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px or less */
  .clips-playlists-container {
    display: flex;
    flex-direction: column;
  }

  .clip-of-week,
  .movies,
  .music,
  .movie-suggestion {
    margin-bottom: 20px;
  }

  .clip-player iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
  }
}
