.center-content {
  text-align: center;
  padding: 20px;
  font-family: "calibri", sans-serif;
}

.computer-specs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-rig,
.also-use {
  width: 100%;
  display: block;
  text-align: center;
}

.specs-list {
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

h2 {
  color: #555;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-family: "calibri", sans-serif;
}

li {
  margin-bottom: 15px;
  line-height: 1.5;
  max-width: 100%;
  word-wrap: break-word;
  font-family: "calibri", sans-serif;
}
