/* GameLibrary.css */

.game-library-container {
  max-width: 800px;
  margin: 40px auto 0;
  padding: 20px;
  background-color: #333; /* Dark background color */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #fff; /* Light text color */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  flex: 1;
  border: 1px solid #555; /* Dark border color */
  border-radius: 4px;
  color: #fff; /* Light text color */
  background-color: #555; /* Dark input background color */
}

button {
  margin-left: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #444; /* Dark table background color */
  border: 1px solid #555; /* Dark border color */
  border-radius: 4px;
}

th, td {
  border: 1px solid #555; /* Dark border color */
  padding: 12px;
  text-align: left;
  color: #fff; /* Light text color */
}

th {
  background-color: #4caf50;
  color: #fff;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  color: #f44336;
}

.loading,
.error {
  text-align: center;
  margin-top: 20px;
  color: #f44336;
}

.loading-container {
  text-align: center;
  margin-top: 20px;
  color: #fff; /* Light text color */
}

.spinner {
  border: 6px solid #f3f3f3; /* Light border color */
  border-top: 6px solid #4caf50; /* Spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
