.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin: auto !important;
}

.btns-no-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  background-color: #333;
  border: 1px solid #333;
  text-align: center;
  color: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #ccc;
  color: #333;
}

.main-img {
  text-align: center;
}

.profile-name {
  margin-top: 10px;
  font-size: 2rem;
  font-family: "calibri";
}

.profile-description {
  margin-top: 10px;
  font-size: 18px;
  font-family: "calibri";
}

.btns-right {
  justify-self: start;
}

.btns-left {
  justify-self: end;
}

/* socials buttons */
.btn.btn-primary06 img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.btn.btn-primary06 span {
  margin-right: 60px;
}

/* Mobile and tablet styles */
@media only screen and (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .main-img {
    grid-column: span 2;
    align-items: center;
    justify-self: center;
  }

  .domino-img img {
    width: 200px;
  }

  .btns-left,
  .btns-right {
    order: 2;
    justify-self: center;
  }

  .btns-left,
  .btns-right {
    grid-area: 2;
    margin-right: 20px;
  }

  .btns-right {
    grid-area: 2;
  }

  .btn {
    width: 100%;
    max-width: 150px;
  }

  .btns-left,
  .btns-right {
    justify-self: center;
  }

  /* paragraph moved in */
  .profile-description {
    text-align: left;
    padding: 20px;
  }
}
