.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  margin: auto !important;
}

.btns-no-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  display: block;
  margin-bottom: 10px;
  padding: 15px; /* Adjusted padding for fixed height */
  font-size: 1rem;
  background-color: #333; /* Background color */
  border: 1px solid #333; /* Border color */
  text-align: center;
  color: #ccc; /* Text color */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ccc;
  color: #333;
}

.main-img {
  text-align: center;
}

.profile-name {
  margin-top: 10px;
  font-size: 2rem;
}

.profile-description {
  margin-top: 10px;
  font-size: 1rem;
}

.btns-right {
  justify-self: start;
}

.btns-left {
  justify-self: end;
}