.twitch-redemptions-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "calibri";
}

.page-title {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  color: azure;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: azure;
}
