body {
  background-color: white;
  margin: 0;
  padding: 0;
}


/* navigation css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 50px;
}

.navbar img {
  width: 75px;
  height: 75px;
  padding: 3px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  text-decoration: underline;
}

/* footer css */

body {
  position: relative;
  min-height: 100vh;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}


/* Mobile styles */
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
  }

  .navbar img {
    order: 2;
    height: 100px;
    width: 100px; 
    margin-top: 10px;
  }
}

/* SchedulePage styling */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-container h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.app-container p {
  color: #666;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 15px;
}