body {
  background-color: hsl(0, 0%, 90%);
  margin: 0;
  padding: 0;
}

/* navigation css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  width: 100%;
  height: 50px;
  font-family: "calibri";
}

.navbar img {
  width: 75px;
  height: 75px;
  padding: 3px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  text-decoration: underline;
}

/* footer css */

.footer-container {
  display: flex;
  position: fixed;
  flex-direction: column; /* Change the flex direction to column */
  align-items: center;
  background-color: #333;
  padding: 5px;
  bottom: 0;
  width: 100%;
  font-family: "calibri";
}

.footer-text {
  margin-top: 10px; /* Add margin to separate from the links */
}

.footer-container p {
  color: white;
  margin: 0;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

/* SchedulePage styling */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-container h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.app-container p {
  color: #666;
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Mobile styles */
@media only screen and (max-width: 960px) {
  .navbar {
    width: 100%;
  }
}
