body {
  background-color: white;
  margin: 0;
  padding: 0;
}


/* navigation css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 50px;
}

.navbar img {
  width: 75px;
  height: 75px;
  padding: 3px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  text-decoration: underline;
}

/* footer css */

body {
  min-height: 100%;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  box-sizing: border-box;
  height: 50px;
}

.social-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}


