h1,
h3 {
  color: white;
  text-align: center;
}

.clips-playlists-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "music  a a movies" "music YouTube YouTube movies"
    "music Twitch Twitch movies" "music suggest suggest movies";
}

.page-title {
  grid-area: a;
}

.page-title-description {
  grid-area: a;
  margin-top: 100px;
  font-size: 18px;
  font-weight: bold;
}

.clip-of-week {
  grid-area: YouTube;
}

.clip-player {
  grid-area: Youtube;
}

.twitch-clip-cards {
  grid-area: Twitch;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid #333;
}

.TwitchLink {
  display: flex;
  justify-content: center;
}

.TwitchLink button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  background-color: transparent;
  border: 2px solid #000;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.TwitchLink button:hover {
  background-color: #ccc;
  color: #333;
}

.music {
  grid-area: music;
  border-radius: 10px;
  border: 2px solid #333;
  background-color: hsl(244, 22%, 13%);
}

.movies {
  grid-area: movies;

  border-radius: 10px;
  border: 2px solid #333;
  background-color: hsl(244, 22%, 13%);
}

.movie-suggestion {
  grid-area: suggest;
}

ul {
  display: block;
  margin: 10px;
}

.music li,
.movies li {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 10px;
}

/* Mobile Design */
@media only screen and (max-width: 960px) {
  /* Styles for screens with a maximum width of 600px or less */
  .clips-playlists-container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .clip-of-week,
  .movies,
  .music,
  .movie-suggestion,
  .tiktok-short {
    margin-bottom: 20px;
  }

  .clip-player {
    width: 380px;
    margin-bottom: 300px;
  }
}
