h1,
h3 {
  border-bottom: 2px solid lightblue;
}

.clips-playlists-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  margin: 10px 0;
  padding: 0px;
  color: azure;
}

.page-title {
  grid-column: span 4;
  align-items: center;
  justify-self: center;
  margin: 0;
  padding: 0;
  color: azure;
}

.clip-of-week {
  grid-area: 2/1;
  text-align: center;
  margin: 20px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid #333;
}

.twitch-clip-cards {
  grid-column: 2 / span 2;
  grid-row: 2;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid #333;
}

.TwitchLink {
  display: flex;
  justify-content: center;
}

.TwitchLink button {
  width: 200px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
  background-color: transparent;
  border: 2px solid #333;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.TwitchLink button:hover {
  background-color: #ccc;
  color: #333;
}

.music {
  grid-area: 4/4;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid #333;
}

.movies {
  grid-area: 4/1;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid #333;
}

.movie-suggestion {
  grid-area: 2/4;
  text-align: center;
  margin: 20px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid #333;
}

ul {
  display: block;
  margin: 10px;
}

.music li,
.movies li {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 10px;
}

/* Mobile Design */
@media only screen and (max-width: 960px) {
  /* Styles for screens with a maximum width of 600px or less */
  .clips-playlists-container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .clip-of-week,
  .movies,
  .music,
  .movie-suggestion,
  .tiktok-short {
    margin-bottom: 20px;
  }

  .clip-player {
    width: 380px;
    margin-bottom: 300px;
  }
}
