.center-content {
  text-align: center;
  padding: 20px;
  font-family: "Calibri", sans-serif;
}

h1,
h2 {
  color: azure;
  margin-top: 20px;
}

.computer-specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 2px solid #333;
}

.new-rig,
.also-use {
  width: 100%;
  text-align: center;
}

.specs-list {
  max-width: 800px; /* Set a max-width for containment */
  margin: 0 auto; /* Center the container */
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  font-family: "Calibri", sans-serif;
}

li {
  margin-bottom: 15px;
  line-height: 1.5;
  word-wrap: break-word;
  color: azure;
}

/* Responsive Design for Mobile */
@media only screen and (max-width: 600px) {
  .specs-list {
    padding: 10px;
  }

  li {
    margin-bottom: 10px;
  }
}
