.title-page {
  text-align: center;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "main-review . secondary-review"
    "main-review . secondary-review"
    ". . third-review";
  margin: 10px;
  font-family: "calibri";
}

.main-review,
.secondary-review,
.third-review {
  border: 1px solid #ccc;
  background-color: lightgray;
  border-radius: 5px;
}

.secondary-review,
.third-review {
  margin: 20px;
}

.main-review {
  grid-area: main-review;
}

.secondary-review {
  grid-area: secondary-review;
}

.third-review {
  grid-area: third-review;
}

/* mobile style */
@media only screen and (max-width: 960px) {
  .reviews-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "main-review"
      "secondary-review"
      "third-review";
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 10px;
  }

  .reviews-container img {
    width: 200px;
  }

  .reviews-container p {
    padding: 5px;
  }

  .main-review,
  .secondary-review,
  .third-review {
    margin: 10px;
    width: 100%;
    overflow: auto;
  }
}
