.game-library-container {
  padding: 20px;
  font-family: "calibri";
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 200px;
}

input {
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
  background-color: transparent;
  border: 4px solid #000;
  text-align: center;
  color: azure;
  font-weight: 800;
  margin: 10px;
  width: 200px;
}

button {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 800;
  background-color: transparent;
  border: 2px solid #000;
  text-align: center;
  color: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

button:hover {
  background-color: #ccc;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 20px;
  border: 3px solid #aca6a6;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: hsl(244, 22%, 13%);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: azure;
  font-weight: 800;
  border-bottom: 1px solid lightblue;
}

.card-platform {
  color: azure;
  font-weight: 800;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: azure;
  font-weight: 800;
}

.introductory-image {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Media Query for Mobile and Tablets */
@media only screen and (max-width: 960px) {
  .search-bar {
    width: 100%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
